{% extends 'base_login_registration.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container-fluid p-5">
        <div class="d-flex flex-lg-row flex-column justify-content-center align-items-center align-items-lg-start gap-5">
            <div class="text-center text-lg-start">
                <h1 class="display-3 fw-bold ls-tight">
                    Welcome to <br class="d-none d-lg-block">
                    <span class="text-primary">BookBinder</span>
                </h1>
            </div>
            <div class="col-lg-6">
                {% if includeReadingInterestForm %}
                    {% include './registration/reading_interest_form.html.twig' %}
                {% else %}
                    {% include './registration/register_form.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
