{% extends 'base_website.html.twig' %}
//what
{% block body %}
    {% for book in results.fantasy %}
        <div>
            <h2>{{ book.volumeInfo.title }}</h2>
            <p>by {{ book.volumeInfo.authors|join(', ') }}</p>
            <p>{{ book.volumeInfo.description }}</p>
        </div>
    {% endfor %}
{% endblock %}