{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="https://accounts.google.com/gsi/client" async defer></script>
{% endblock %}

{% block body %}
    <p>Hello World!</p>

    <p>Your credential is: {{ credential }}</p>

    <p>Your email is: {{ email }}</p>

    <p>Your name is: {{ given_name }}</p>

    <p>Your family name is: {{ family_name }}</p>
{% endblock %}