{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="https://accounts.google.com/gsi/client" async defer></script>
{% endblock %}

{% block body %}
<main class="d-flex flex-nowrap">
    {# {% include './book_binder/sidebar_example.html.twig' %} #}
    {% if includeProfileForm %}
        {% include './book_binder/profile_info_form.html.twig' %}
    {% else %}
        <p>The user has already set their nickname and their three fav categories</p>
    {% endif %}
</main>

{% endblock %}
