{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="https://accounts.google.com/gsi/client" async defer></script>
{% endblock %}

{% block body %}
<main class="d-flex flex-nowrap">
    <p>Home page</p>
</main>

{% endblock %}
