{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="773315199188-t2bualn3k6id1gsokusqrueq55lkg4e4.apps.googleusercontent.com">
{% endblock %}

{% block body %}
    <div class="g-signin2" data-onsuccess="onSignIn"></div>

    <a href="#" onclick="signOut();">Sign out</a>
    <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
    </script>
{% endblock %}