{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="https://accounts.google.com/gsi/client" async defer></script>
{% endblock %}

{% block body %}
    <div id="g_id_onload"
         data-client_id="773315199188-t2bualn3k6id1gsokusqrueq55lkg4e4"
         data-context="signin"
         data-ux_mode="popup"
         data-login_uri="/home"
         data-auto_prompt="false">
    </div>

    <div class="g_id_signin"
         data-type="standard"
         data-shape="rectangular"
         data-theme="outline"
         data-text="signin_with"
         data-size="large"
         data-locale="en"
         data-logo_alignment="left">
    </div>
{% endblock %}