{% extends 'base_website.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row gx-3">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="p-3 border my-3 rounded-3">
                    <div class="border-bottom mb-3 d-flex justify-content-center">
                        <h5>Want to read</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="p-3 border bg-light my-3 rounded-3">
                    <div class="border-bottom mb-3 d-flex justify-content-center">
                        <h5>Currently Reading</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="p-3 border bg-light my-3 rounded-3">
                    <div class="border-bottom mb-3 d-flex justify-content-center">
                        <h5>Finished Reading</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
