<div class="container d-flex  col-sm-12 col-lg-6 justify-content-center">
    <!-- Account settings START -->
  <div class="card mb-4 mt-4 vstack">
    
    <!-- Title START -->
    <div class="card-header border-0 pb-2">
      <h1 class="h5 card-title">Account Settings</h1>
      <p class="mb-0">Before we start, complete your account with your personal info.</p>
    </div>
    <!-- Card header START -->
    <!-- Card body START -->
    <div class="card-body">
      <!-- Form settings START -->
      <form class="row g-2">
        <!-- Nickname -->
        <div class="col-sm-12 col-lg-12">
          <label class="form-label">Nickname</label>
          <input type="text" class="form-control" placeholder="Nickname (Required)">
        </div>
        <!-- Name -->
        <div class="col-sm-6 col-lg-4">
          <label class="form-label">Name</label>
          <input type="text" class="form-control" placeholder="Name (Optinal)">
        </div>
        <!-- Surname -->
        <div class="col-sm-6 col-lg-4">
          <label class="form-label">Surname</label>
          <input type="text" class="form-control" placeholder="Surname (Optinal)">
        </div>
        <!-- Birthday -->
        <div class="col-sm-6 col-lg-4">
          <label class="form-label">Birthday </label>
          <input type="text" class="form-control flatpickr flatpickr-input" placeholder="Birthdate (Required)">
        </div>
        <div class="col-sm-12">
          <label class="form-label">Email</label>
          <input type="text" class="form-control" placeholder="" value={{userEmail}} readonly="readonly">
        </div>
        <!-- Page information -->
        <div class="col-12">
          <label class="form-label">Tell about yourself</label>
          <textarea class="form-control" rows="4" placeholder="Description (Optional)"></textarea>
          <small>Character limit: 300</small>
        </div>
        <!-- Allow checkbox -->
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="allowChecked" checked="">
            <label class="form-check-label" for="allowChecked">
              Make my profile public
            </label>
          </div>
        </div>
        <!-- Button  -->
        <div class="col-12 text-end">
          <button type="submit" class="btn btn-sm btn-primary mb-0">Save changes</button>
        </div>
      </form>
      <!-- Settings END -->
    </div>
  <!-- Card body END -->
  </div>
  <!-- Account settings END -->
</div>